@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PoppinsRegular';
    src: url('/src/assets/fonts/PoppinsRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsSemibold';
    src: url('/src/assets/fonts/PoppinsSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('/src/assets/fonts/NetflixSansBold.otf') format('opentype');
}

* {
    font-family: 'poppins';
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}